.label {
    margin-bottom: 15px;
    font-size: 30px;
}

#yes {
    margin-left: 35px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}