.label {
    margin-bottom: 15px;
    font-size: 30px;
}

.button {
    padding: 5px;
    display: inline-block;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#yes {
    margin-left: 25px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}